<div class="row">
    <!-- Total Visitors Card -->
    <div class="col-md-3 mb-4">
        <div class="card summary-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-title">Total Visitors</h6>
                        <h3 class="card-value">{{ total_visitors }}</h3>
                    </div>
                    <div class="icon-circle bg-primary">
                        <i class="bi bi-people"></i>
                    </div>
                </div>
{#                <p class="card-trend text-success">#}
{#                    <i class="bi bi-arrow-up"></i>#}
{#                    {% if time_range == '24h' %}Today{% else %}This period{% endif %}#}
{#                </p>#}
            </div>
        </div>
    </div>

    <!-- Page Views Card -->
    <div class="col-md-3 mb-4">
        <div class="card summary-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-title">Page Views</h6>
                        <h3 class="card-value">{{ total_page_views }}</h3>
                    </div>
                    <div class="icon-circle bg-info">
                        <i class="bi bi-file-earmark-text"></i>
                    </div>
                </div>
{#                <p class="card-trend {% if total_page_views > previous_period.total_page_views %}text-success{% else %}text-danger{% endif %}">#}
{#                    <i class="bi bi-arrow-{% if total_page_views > previous_period.total_page_views %}up{% else %}down{% endif %}"></i>#}
{#                    {{ total_page_views }}%#}
{#                </p>#}
            </div>
        </div>
    </div>

    <!-- Events Card -->
    <div class="col-md-3 mb-4">
        <div class="card summary-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-title">Total Events</h6>
                        <h3 class="card-value">{{ total_events }}</h3>
                    </div>
                    <div class="icon-circle bg-purple">
                        <i class="bi bi-activity"></i>
                    </div>
                </div>
{#                <p class="card-trend {% if total_events > previous_period.total_events %}text-success{% else %}text-danger{% endif %}">#}
{#                    <i class="bi bi-arrow-{% if total_events > previous_period.total_events %}up{% else %}down{% endif %}"></i>#}
{#                    {{ total_events }}%#}
{#                </p>#}
            </div>
        </div>
    </div>

    <!-- Avg. Duration Card -->
    <div class="col-md-3 mb-4">
        <div class="card summary-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-title">Avg. Duration</h6>
                        <h3 class="card-value">
                            {{ avg_session_duration|floatformat:1 }}s
                        </h3>
                    </div>
                    <div class="icon-circle bg-warning">
                        <i class="bi bi-clock"></i>
                    </div>
                </div>
{#                <p class="card-trend {% if avg_session_duration > previous_period.avg_session_duration %}text-success{% else %}text-danger{% endif %}">#}
{#                    <i class="bi bi-arrow-{% if avg_session_duration > previous_period.avg_session_duration %}up{% else %}down{% endif %}"></i>#}
{#                    {{ avg_session_duration }}%#}
{#                </p>#}
            </div>
        </div>
    </div>

</div>